<h1>{{ master.length }}</h1>
<ion-list [virtualScroll]="master">
	<ion-item *virtualItem="let single_pokemon" (click)="selectPokemon(single_pokemon)">
		{{ single_pokemon }}
		<ion-label>
			<div class="pokemon-image {{ single_pokemon.sprite }}"></div>
			<div class="pokemon-info">
				<h2>#{{ single_pokemon.current_number }} - {{ single_pokemon.current_name }}</h2>
			</div>
		</ion-label>
	</ion-item>
</ion-list>

<ion-list >
	<ion-item *ngFor="let single_pokemon of getMaster()" (click)="selectPokemon(single_pokemon)">
		{{ single_pokemon }}
		<ion-label>
			<div class="pokemon-image {{ single_pokemon.sprite }}"></div>
			<div class="pokemon-info">
				<h2>#{{ single_pokemon.current_number }} - {{ single_pokemon.current_name }}</h2>
			</div>
		</ion-label>
	</ion-item>
</ion-list>

