<ion-item detail-push>
    <ion-label>
        <div class="pokemon-image {{ pokemon.sprite }}"></div>
        <div class="pokemon-info" *ngIf="config.layout == 'list'">
            <h2>#{{ pokemon.current_number }} - {{ pokemon.current_name }}</h2>

            <p class="pokemon-settings">
            <ion-icon *ngFor="let single_filter of config.getFilters()" [name]="single_filter.icon" [ngClass]="{'active':pokedex.pokemons[pokemon.number][single_filter.id]}"></ion-icon>
            </p>
        </div>
    </ion-label>
    <ion-toggle *ngIf="config.layout == 'list'" [(ngModel)]="pokedex.pokemons[pokemon.number]['own']" (ionChange)="pokedexChanged()"></ion-toggle>
</ion-item>
