page-home {
    p.pokemon-settings {
        ion-icon {
            padding-right: 8px;
            color: #dcdcdc;

            &.active {
                color: #666666;
            }
        }
    }
}
