<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title></title>

        <link rel="manifest" href="manifest.json">

        <!-- un-comment this code to enable service worker
            <script>
if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('service-worker.js')
        .then(() => console.log('service worker installed'))
        .catch(err => console.log('Error', err));
}
            </script>-->

            <link href="lib/ionic/css/ionic.css" rel="stylesheet">
            <link href="css/style.css" rel="stylesheet">

            <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
                <link href="css/ionic.app.css" rel="stylesheet">
            -->

            <!-- ionic/angularjs js -->
            <script src="lib/ionic/js/ionic.bundle.js"></script>
            <script src="lib/angular-local-storage/dist/angular-local-storage.js"></script>

            <!-- cordova script (this will be a 404 during development) -->
            <script src="cordova.js"></script>

            <!-- your app's js -->
            <script src="js/app.js"></script>
            <script src="js/pokemonList.js"></script>
    </head>
    <body ng-app="pokedex" ng-controller="pokemonList" ng-init="getPokemon()">

        <ion-pane>
            <ion-header-bar class="bar-dark">
                <h1 class="title">Living Pokedex</h1>
                <button class="button button-icon" ng-click="getPokemon()"><i class="icon ion-compose"></i></button>
            </ion-header-bar>
            <ion-content>
                <div class="list pokemon" ng-repeat="pokemon in pokemon_list">
                    <div class="item item-avatar item-button-right item-pokemon">
                        <img src="img/pokemon/{{pokemon.number}}.png" />
                        <h2>#<span ng-bind="pokemon.number"></span> - <span ng-bind="pokemon.name"></span></h2>
                        <button class="button" ng-click="toggleControls($index)">
                            <i class="icon {{ pokemon.open ? 'ion-chevron-up' : 'ion-chevron-down' }}"></i>
                        </button>
                    </div>
                        <div class="row pokemon-controls" ng-show="pokemon.open">
                            <div class="col">
                                <div class="control-name">Own{{ $scope.pokemon_settings[pokemon.number]['own'] }}</div>
                                <label class="toggle toggle-assertive">
                                    <input type="checkbox" ng-model="$parent.pokemon_settings[pokemon.number]['own']" ng-change="saveSettings()">
                                    <div class="track">
                                        <div class="handle"></div>
                                    </div>
                                </label>
                            </div>
                            <div class="col">
                                <div class="control-name">Shiny</div>
                                <label class="toggle toggle-assertive">
                                    <input type="checkbox" ng-model="$parent.pokemon_settings[pokemon.number]['shiny']" ng-change="saveSettings()">
                                    <div class="track">
                                        <div class="handle"></div>
                                    </div>
                                </label>
                            </div>
                            <div class="col">
                                <div class="control-name">Pokeball</div>
                                <label class="toggle toggle-assertive">
                                    <input type="checkbox" ng-model="$parent.pokemon_settings[pokemon.number]['pokeball']" ng-change="saveSettings()">
                                    <div class="track">
                                        <div class="handle"></div>
                                    </div>
                                </label>
                            </div>
                            <div class="col">
                                <div class="control-name">Language</div>
                                <label class="toggle toggle-assertive">
                                    <input type="checkbox" ng-model="$parent.pokemon_settings[pokemon.number]['language']" ng-change="saveSettings()">
                                    <div class="track">
                                        <div class="handle"></div>
                                    </div>
                                </label>
                            </div>
                    </div>

                </div>
            </ion-content>
        </ion-pane>
    </body>
</html>
