.pokemon-image {
    background-image: url(../assets/images/pokemons.png);
    background-repeat: no-repeat;
}

.item-image {
    background-image: url(../assets/images/items.png);
    background-repeat: no-repeat;
}

div.pokemons {
    width: 100%;
}

ion-searchbar {
    background-color: map-get($colors, secondary) !important;
}

ion-item.game {
	background-color: #f4f4f4;
}

