.pokemon-image {
    background-image: url(../assets/images/pokemons.png);
    background-repeat: no-repeat;
}

div.pokemons {
    width: 100%;
}

ion-searchbar {
    background-color: map-get($colors, secondary) !important;
}

@import "../assets/images/pokemons.css";
