<ion-menu [content]="content" (ionClose)="menuClosed()">

    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>Options</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <ion-item-divider color="secondary">Hide Pokemons matching </ion-item-divider>
            <ion-item *ngFor="let filter of config.getFilters()">
                <ion-label><ion-icon name="{{ filter.icon }}"></ion-icon> {{ filter.name }}</ion-label>
                <ion-toggle [(ngModel)]="config.filters[filter.id]" (ionChange)="configChanged($event, filter.id)" color="primary"></ion-toggle>
            </ion-item>
        </ion-list>
        <ion-list radio-group [(ngModel)]="config.generation['selected']">
            <ion-item-divider color="secondary">Generations</ion-item-divider>
            <div *ngFor="let region of config.getGenerations()">
                <ion-item>
                    <ion-label>{{ region.name }}</ion-label>
                    <ion-radio [value]="region.id" color="primary" (ionSelect)="configChanged($event, 'generation');"></ion-radio>
                </ion-item>

                <ion-item class="game" *ngFor="let single_game of data.getGames(region.id)">
                    <ion-label>{{ single_game.name }}</ion-label>
                    <ion-radio [value]="single_game.name" color="primary" (ionSelect)="configChanged($event, 'game');"></ion-radio>
                </ion-item>
            </div>
        </ion-list>
        <ion-list radio-group [(ngModel)]="config.language['selected']">
            <ion-item-divider color="secondary">Language</ion-item-divider>
            <ion-item *ngFor="let language of config.getLanguages()">
                <ion-label>{{ language.name }}</ion-label>
                <ion-radio [value]="language.suffix" color="primary" (ionSelect)="configChanged($event, 'language');"></ion-radio>
            </ion-item>
        </ion-list>
    </ion-content>
    
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
