.item-Candy { background-position: 0 0; width: 80px; height: 80px; } 
.item-DarkStone { background-position: 0 -81px; width: 80px; height: 80px; } 
.item-DawnStone { background-position: 0 -162px; width: 80px; height: 80px; } 
.item-DeepSeascale { background-position: 0 -243px; width: 80px; height: 80px; } 
.item-DeepSeatooth { background-position: 0 -324px; width: 80px; height: 80px; } 
.item-DragonScale { background-position: 0 -405px; width: 80px; height: 80px; } 
.item-DubiousDisc { background-position: 0 -486px; width: 80px; height: 80px; } 
.item-DuskStone { background-position: 0 -567px; width: 80px; height: 80px; } 
.item-Electirizer { background-position: 0 -648px; width: 80px; height: 80px; } 
.item-EnigmaStone { background-position: 0 -729px; width: 80px; height: 80px; } 
.item-Everstone { background-position: 0 -810px; width: 80px; height: 80px; } 
.item-FireStone { background-position: 0 -891px; width: 80px; height: 80px; } 
.item-FloatStone { background-position: 0 -972px; width: 80px; height: 80px; } 
.item-GodStone { background-position: 0 -1053px; width: 80px; height: 80px; } 
.item-HardStone { background-position: 0 -1134px; width: 80px; height: 80px; } 
.item-IceStone { background-position: 0 -1215px; width: 80px; height: 80px; } 
.item-KingsRock { background-position: 0 -1296px; width: 80px; height: 80px; } 
.item-LeafStone { background-position: 0 -1377px; width: 80px; height: 80px; } 
.item-LightStone { background-position: 0 -1458px; width: 80px; height: 80px; } 
.item-MagmaStone { background-position: 0 -1539px; width: 80px; height: 80px; } 
.item-Magmarizer { background-position: 0 -1620px; width: 80px; height: 80px; } 
.item-MetalCoat { background-position: 0 -1701px; width: 80px; height: 80px; } 
.item-MoonStone { background-position: 0 -1782px; width: 80px; height: 80px; } 
.item-OddKeystone { background-position: 0 -1863px; width: 80px; height: 80px; } 
.item-OvalStone { background-position: 0 -1944px; width: 80px; height: 80px; } 
.item-PrismScale { background-position: -81px 0; width: 80px; height: 80px; } 
.item-Protector { background-position: -81px -81px; width: 80px; height: 80px; } 
.item-RazorClaw { background-position: -81px -162px; width: 80px; height: 80px; } 
.item-RazorFang { background-position: -81px -243px; width: 80px; height: 80px; } 
.item-ReaperCloth { background-position: -81px -324px; width: 80px; height: 80px; } 
.item-Sachet { background-position: -81px -405px; width: 80px; height: 80px; } 
.item-ShinyStone { background-position: -81px -486px; width: 80px; height: 80px; } 
.item-StonePlate { background-position: -81px -567px; width: 80px; height: 80px; } 
.item-SunStone { background-position: -81px -648px; width: 80px; height: 80px; } 
.item-ThunderStone { background-position: -81px -729px; width: 80px; height: 80px; } 
.item-Up-Grade { background-position: -81px -810px; width: 80px; height: 80px; } 
.item-WaterStone { background-position: -81px -891px; width: 80px; height: 80px; } 
.item-WhippedDream { background-position: -81px -972px; width: 80px; height: 80px; } 