.item-Candy { background-position: 0 0; width: 80px; height: 80px; } 
.item-DarkStone { background-position: 0 -81px; width: 80px; height: 80px; } 
.item-DawnStone { background-position: 0 -162px; width: 80px; height: 80px; } 
.item-DuskStone { background-position: 0 -243px; width: 80px; height: 80px; } 
.item-EnigmaStone { background-position: 0 -324px; width: 80px; height: 80px; } 
.item-Everstone { background-position: 0 -405px; width: 80px; height: 80px; } 
.item-FireStone { background-position: 0 -486px; width: 80px; height: 80px; } 
.item-FloatStone { background-position: 0 -567px; width: 80px; height: 80px; } 
.item-GodStone { background-position: 0 -648px; width: 80px; height: 80px; } 
.item-HardStone { background-position: 0 -729px; width: 80px; height: 80px; } 
.item-IceStone { background-position: 0 -810px; width: 80px; height: 80px; } 
.item-LeafStone { background-position: 0 -891px; width: 80px; height: 80px; } 
.item-LightStone { background-position: 0 -972px; width: 80px; height: 80px; } 
.item-MagmaStone { background-position: 0 -1053px; width: 80px; height: 80px; } 
.item-MoonStone { background-position: 0 -1134px; width: 80px; height: 80px; } 
.item-OddKeystone { background-position: 0 -1215px; width: 80px; height: 80px; } 
.item-OvalStone { background-position: 0 -1296px; width: 80px; height: 80px; } 
.item-ShinyStone { background-position: 0 -1377px; width: 80px; height: 80px; } 
.item-StonePlate { background-position: 0 -1458px; width: 80px; height: 80px; } 
.item-SunStone { background-position: 0 -1539px; width: 80px; height: 80px; } 
.item-ThunderStone { background-position: 0 -1620px; width: 80px; height: 80px; } 
.item-WaterStone { background-position: 0 -1701px; width: 80px; height: 80px; } 