<ion-header>
  <ion-navbar color="secondary">
      <ion-title>
          <div class="pokemon-image {{ pokemon.sprite }}"></div>
          <div class="pokemon-name">#{{ pokemon.current_number }} - {{ pokemon.current_name }}</div>
      </ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="closeModal()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

  <ion-segment color="primary" [(ngModel)]="segment">
    <ion-segment-button value="list">
      List
    </ion-segment-button>
    <ion-segment-button value="info">
      Info
    </ion-segment-button>
  </ion-segment>

</ion-header>

<ion-content>

  <div [ngSwitch]="segment">
    <ion-list *ngSwitchCase="'list'">
        <ion-item *ngFor="let filter of config.getFilters()">
            <ion-label>
                <ion-icon name="{{ filter.icon }}"></ion-icon>
                <div class="filter-info">
                    <div class="filter-name">{{ filter.name }}</div>
                    <div class="filter-description">{{ filter.description }}</div>
                </div>
            </ion-label>
            <ion-toggle [(ngModel)]="pokedex.pokemons[pokemon.number][filter.id]" (ionChange)="configChanged()" color="primary"></ion-toggle>
        </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'info'">

        <ion-item-divider color="primary" *ngIf="breedingPokemons.length > 0"><strong>Available through breeding</strong></ion-item-divider>
        <ion-row class="breeding-pokemons">
          <ion-col *ngFor="let single_pokemon of breedingPokemons">
            <div class="pokemon-image {{ single_pokemon.sprite }}"></div>
            <div class="pokemon-name">{{ single_pokemon.current_name }}</div>
          </ion-col>
        </ion-row>

        <ion-item-divider color="primary" *ngIf="evolution['pokemon']"><strong>Evolution</strong></ion-item-divider>

        <ion-row class="evolving-pokemon" *ngIf="evolution.pokemon">
          <ion-col *ngFor="let single_template of evolution.template" [ngSwitch]="single_template" class="col evolution-{{single_template}}">
            <div *ngSwitchCase="'action'">{{ evolution.action }}</div>
            <div *ngSwitchCase="'pokemon'">
              <div class="pokemon-image {{ evolution.pokemon.sprite }}"></div>
              <div class="pokemon-name">{{ evolution.pokemon.current_name }}</div>
            </div>
            <div *ngSwitchCase="'pokemon2'">
              <div class="pokemon-image {{ evolution.pokemon2.sprite }}"></div>
              <div class="pokemon-name">{{ evolution.pokemon2.current_name }}</div>
            </div>
            <div *ngSwitchCase="'helper'">{{ evolution.helper }}</div>
            <div *ngSwitchCase="'value'">
              <div class="evolution-subvalue" *ngIf="evolution.subvalue">
                {{ evolution.subvalue }}
              </div>
              {{ evolution.value }}
              <div class="evolution-supvalue" *ngIf="evolution.supvalue">
                {{ evolution.supvalue }}
              </div>
            </div>
            <div *ngSwitchCase="'item'">
              <div class="item-image item-{{ evolution.item.sprite }}"></div>
              <div class="pokemon-name">{{ evolution.item.name }}</div>
            </div>
          </ion-col>
        </ion-row>

        <div class="evolution-conditions" *ngIf="evolution.conditions && evolution.conditions.length > 0">
          <ul>
            <li *ngFor="let single_condition of evolution.conditions">{{ single_condition }}</li>
          </ul>
        </div>
    </ion-list>

    </div>

</ion-content>
