page-detail {
    ion-item-divider {
        padding-left: 0 !important;
        ion-label {
            justify-content: center;

            strong {
                padding-right: 4px;
            }
        }
    }

    ion-label {
        display: flex;
        align-items: center;

        ion-icon {
            padding-right: 16px;
            font-size: 2em;
        }

        div.filter-info {
            display: flex;
            flex-direction: column;
            justify-content: center;

            div.filter-name {
                font-weight: bold;
                padding-bottom: 6px;
            }

            div.filter-description {
                white-space: pre-wrap;
            }
        }
    }

    ion-title {
        div.toolbar-title {
            display: flex;

            div.pokemon-name {
                display: flex;
                align-items: center;
            }
        }
    }

    ion-list {
        margin-bottom: 0 !important;
    }

    ion-row {
        ion-col {
            text-align: center;

            div.pokemon-image {
                margin: 0 auto;
            }
        }

        &.evolving-pokemon {
            ion-col {
                align-self: center;

                &.evolution-value {
                    font-size: 30px;

                    .evolution-subvalue {
                        font-size: 18px;
                    }
                    .evolution-supvalue {
                        font-size: 18px;
                    }
                }

                &.evolution-action {
                    font-size: 20px;
                }
            }
        }
    }

    .evolution-conditions {
        background-color: #f4f4f4;
        padding: 20px 10px;
        margin-top: 10px;

        ul {
            max-width: 200px;
            margin: 0 auto;
        }
    }
}
