<ion-header>
  <ion-navbar color="secondary">
      <ion-title>
          <div class="pokemon-image {{ pokemon.sprite }}"></div>
          <div class="pokemon-name">#{{ pokemon.current_number }} - {{ pokemon.current_name }}</div>
      </ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="closeModal()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

  <ion-segment color="primary" [(ngModel)]="segment">
    <ion-segment-button value="list">
      List
    </ion-segment-button>
    <ion-segment-button value="info">
      Info
    </ion-segment-button>
  </ion-segment>

</ion-header>

<ion-content>

  <div [ngSwitch]="segment">
    <ion-list *ngSwitchCase="'list'">
        <ion-item *ngFor="let filter of config.getFilters()">
            <ion-label>
                <ion-icon name="{{ filter.icon }}"></ion-icon>
                <div class="filter-info">
                    <div class="filter-name">{{ filter.name }}</div>
                    <div class="filter-description">{{ filter.description }}</div>
                </div>
            </ion-label>
            <ion-toggle [(ngModel)]="pokedex.pokemons[pokemon.number][filter.id]" (ionChange)="configChanged()" color="primary"></ion-toggle>
        </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'info'">
        <ion-item-divider color="primary" *ngIf="pokemon['current_breeding']"><strong>Breeding: </strong> {{ pokemon['current_breeding'] }}</ion-item-divider>
        <ion-item-divider color="primary" *ngIf="pokemon['current_evolving']"><strong>Evolution: </strong> {{ pokemon['current_evolving'] }}</ion-item-divider>
    </ion-list>

    </div>

</ion-content>
