.list.pokemon {
    margin-bottom: 0;
    padding-bottom: 0;
}

 .item-pokemon {
     display: flex;
     align-items: center;
 }

 .item-pokemon.item-button-right > .button {
     top: inherit;
 }

 .pokemon-controls .col {
     text-align: center;
 }

 .pokemon-controls .col .control-name {
    color: #666;
    padding-bottom: 6px;
 }
