.bar.bar-pokedex {
    background-color: #dc0a2d;
}
.bar.bar-pokedex .title, .bar.bar-pokedex .button {
    color: #ffffff;
}

.item-divider {
    background-color: #376092;
    color: #ffffff;
}

.item-choice {
    background-color: #f4f4f4;
}

.list.pokemon {
    margin-bottom: 0;
    padding-bottom: 0;
}

.item-setting {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

 .item-pokemon {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

.item-pokemon.item.activated {
    background-color: #f4f4f4;
}

 .item-pokemon.item-button-right > .button {
     top: inherit;
 }

 .item-pokemon .item-checkbox {
    padding: 0;
    border: 0;
    background-color: transparent;
 }

 .item-pokemon .item-checkbox .checkbox {
    padding: 0;
    margin: 0;
    top: inherit;
    left: inherit;
    right: inherit;
    position: relative;
 }

.item-pokemon .item-checkbox .item-content {
    padding-left: 0;
    min-height: 0;
}

 .pokemon-controls {
     background-color: #f4f4f4;
     flex-flow: row wrap;
 }

 .pokemon-controls .col {
     text-align: center;
     padding: 0 10px;
 }

 .pokemon-controls .col .control-name {
    color: #666;
    padding-bottom: 6px;
 }

 p.pokemon-settings i {
     padding-right: 10px;
     color: #dcdcdc;
 }
 p.pokemon-settings i.active {
     color: #666;
 }
     color: #666;
 }
