.bar.bar-pokedex {
    background-color: #dc0a2d;
}
.bar.bar-pokedex .title, .bar.bar-pokedex .button {
    color: #ffffff;
}

.item-divider {
    background-color: #376092;
    color: #ffffff;
}

.item-choice {
    background-color: #f4f4f4;
}

.list.pokemon {
    margin-bottom: 0;
    padding-bottom: 0;
}

 .item-pokemon {
     display: flex;
     align-items: center;
 }

 .item-pokemon.item-button-right > .button {
     top: inherit;
 }

 .pokemon-controls .col {
     text-align: center;
 }

 .pokemon-controls .col .control-name {
    color: #666;
    padding-bottom: 6px;
 }
